@import '../../../styles/variables';
@import '../../../styles/mixins';

// ============================================
// FOOTER
// ============================================
.footer {
  background-color: $color-bg-dark;
  padding: $spacing-lg 0;
  margin-top: auto; // Esto empuja el footer al fondo

  &__content {
    @include flex-center-vertical;
    justify-content: space-between;
    flex-direction: column;
    gap: $spacing-md;

    @include desktop {
      flex-direction: row;
    }
  }

  &__logo {
    &-img {
      height: 42px;
      width: auto;
      filter: brightness(0) invert(1); // Convierte el logo a blanco
    }
  }

  &__copyright {
    &-text {
      color: $color-text-light;
      font-size: $font-size-sm;
      text-align: center;

      @include desktop {
        text-align: right;
      }
    }
  }
}